* {



    margin: 0;



    padding: 0;



    box-sizing: border-box;



}



body {



    font-family: Inter, Arial, sans-serif;



    background: #0f172a;



    color: white;



    min-height: 100vh;



}



.container {



    max-width: 900px;



    margin: auto;



    padding: 50px 20px;



    text-align: center;



}



h1 {



    font-size: 3rem;



    margin-bottom: 20px;



    background: linear-gradient(



        90deg,



        #38bdf8,



        #8b5cf6



    );



    -webkit-background-clip: text;



    -webkit-text-fill-color: transparent;



}



p {



    color: #cbd5e1;



    margin-bottom: 30px;



}



button {



    background: linear-gradient(



        90deg,



        #2563eb,



        #7c3aed



    );



    color: white;



    border: none;



    padding: 14px 30px;



    border-radius: 12px;



    cursor: pointer;



    font-size: 1rem;



    transition: 0.3s;



}



button:hover {



    transform: translateY(-2px);



}



#quiz,



#result {



    margin-top: 40px;



    background: #1e293b;



    padding: 30px;



    border-radius: 20px;



}



.answer {



    display: block;



    width: 100%;



    margin: 10px 0;



}